<main class="Polaris-Frame__Main" id="AppFrameMain" data-has-global-ribbon="false">
  <div class="Polaris-Frame__Content">
    <div class="Polaris-Page">
      <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__Section">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div class="Polaris-SettingAction">
                  <div class="Polaris-SettingAction__Setting">
                    <!-- Table -->
                    <div
                      style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                      <div class="Polaris-Page">
                        <div class="Polaris-Page-Header">
                          <div class="Polaris-Page-Header__TitleAndRollup">
                            <div class="Polaris-Page-Header__Title">
                              <div>
                                <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Refund - Orders</h1>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="Polaris-Page__Content">
                          <!--Filter section -->
                          <div class="Polaris-ResourceList__FiltersWrapper">
                            <div class="Polaris-FormLayout">
                              <div class="Polaris-FormLayout__Item">
                                <div class="Polaris-Labelled--hidden">
                                  <div class="Polaris-Labelled__LabelWrapper">
                                    <div class="Polaris-Label"><label id="TextField2Label" for="TextField2"
                                        class="Polaris-Label__Text">Search
                                        refund orders</label></div>
                                  </div>
                                  <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                      <div class="Polaris-TextField">
                                        <div class="Polaris-TextField__Prefix" id="TextField2Prefix"><span
                                            class="Polaris-Icon Polaris-Icon--colorSkyDark Polaris-Icon--isColored"><svg
                                              viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                              aria-hidden="true">
                                              <path
                                                d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m9.707 4.293l-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414"
                                                fill-rule="evenodd"></path>
                                            </svg></span></div><input [(ngModel)]="searchText" id="TextField2" placeholder="Search refund orders"
                                          class="Polaris-TextField__Input"
                                          aria-labelledby="TextField2Label TextField2Prefix" aria-invalid="false"
                                          value="">
                                        <div class="Polaris-TextField__Backdrop"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--End of filter section -->
                          <div class="Polaris-Card">
                            <div class="">
                              <div class="Polaris-DataTable__Navigation"><button type="button"
                                  class="Polaris-Button Polaris-Button--disabled Polaris-Button--plain Polaris-Button--iconOnly"
                                  disabled="" aria-label="Scroll table left one column"><span
                                    class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                        class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                          focusable="false" aria-hidden="true">
                                          <path
                                            d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16"
                                            fill-rule="evenodd"></path>
                                        </svg></span></span></span></button><button type="button"
                                  class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                  aria-label="Scroll table right one column"><span class="Polaris-Button__Content"><span
                                      class="Polaris-Button__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20"
                                          class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                          <path
                                            d="M8 16a.999.999 0 0 1-.707-1.707L11.586 10 7.293 5.707a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5A.997.997 0 0 1 8 16"
                                            fill-rule="evenodd"></path>
                                        </svg></span></span></span></button></div>
                              <div class="Polaris-DataTable">
                                <div class="Polaris-DataTable__ScrollContainer">
                                  <table class="Polaris-DataTable__Table">
                                    <thead>
                                      <tr>
                                        <th data-polaris-header-cell="true"
                                          class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--fixed"
                                          scope="col" style="height: 53px;">Order #</th>
                                        <th data-polaris-header-cell="true"
                                          class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--header"
                                          scope="col" style="height: 53px;">Email</th>
                                        <th data-polaris-header-cell="true"
                                          class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--header"
                                          scope="col" style="height: 53px;">Notes</th>
                                        <th data-polaris-header-cell="true"
                                          class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--header"
                                          scope="col" style="height: 53px;">Total Item(s)</th>
                                        <th data-polaris-header-cell="true"
                                          class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--header"
                                          scope="col" style="height: 53px;">Test</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr class="Polaris-DataTable__TableRow" *ngFor="let order of orders">
                                        <th class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--fixed">
                                          {{ order.orderNumber  }}</th>
                                        <td class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--header">
                                          {{ order.notificationEmail  }}
                                        </td>
                                        <td class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--header">
                                          {{ order.notes  }}</td>
                                        <td class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--header">
                                          {{ order.orderitems?.length  }}
                                        </td>
                                        <td class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--header">
                                          {{ order.orderNumber }}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Table -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Loader-->
    <app-loader [show]="showLoader"></app-loader>
  </div>
</main>
