.Polaris-TopBar {
    position: relative;
    display: flex;
    height: 5.6rem;
    background-color: #5563c1 !important;
}

.Polaris-TopBar-SearchField__Backdrop {
    background-color: white !important;
    color: #5563c1;
}