  <div class="Polaris-Frame__Content">
    <div class="Polaris-Page">
      <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__Section">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <!-- Line Items  -->
                <div
                  style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                  <div class="Polaris-Layout">
                    <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
                      <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                        </div>
                        <div class="Polaris-Card__Section">
                          <div class="Polaris-ResourceList__ResourceListWrapper">
                            <ul class="Polaris-ResourceList" aria-live="polite">
                              <li class="Polaris-ResourceList__ItemWrapper">
                                <div class="Polaris-ResourceList-Item" data-href="produdcts/341"><a
                                    aria-describedby="341" aria-label="View details for Black &amp; orange scarf"
                                    class="Polaris-ResourceList-Item__Link" tabindex="0" href="produdcts/341"
                                    data-polaris-unstyled="true"></a>
                                  <div class="Polaris-ResourceList-Item__Container" id="341">
                                    <div class="Polaris-ResourceList-Item__Owned">
                                      <div class="Polaris-ResourceList-Item__Media"><span
                                          class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium"><img
                                            src="https://burst.shopifycdn.com/photos/black-orange-stripes_373x@2x.jpg"
                                            alt="Black orange scarf" class="Polaris-Thumbnail__Image"></span></div>
                                    </div>
                                    <div class="Polaris-ResourceList-Item__Content">
                                      <h3><span class="Polaris-TextStyle--variationStrong">Black &amp; orange
                                          scarf</span></h3>
                                      <div>SKU: 9234194023</div>
                                      <div>254 available</div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of line items -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
